
<div> 
 <button class="btn btn-primary" [disabled]="popUpOpen" (click)="openPopUp()"  style="margin-left: 980px; margin-top: 15px;"> Add Users</button>
<app-pop-up class="my-prompt" [isOpen]="popUpOpen">

  <div class="box">
      <h1>Add User</h1>
      <div class="popupinput" >
        <input type="text" placeholder="Username..." [(ngModel)]="user.FirstName">
        <input type="email" placeholder="Email..." [(ngModel)]="user.email">
        <input type="password" placeholder="Password..." [(ngModel)]="user.password">
      </div>
      <button class="btn1" (click)="add(name)">Add</button>
      <button id="btn2" (click)="cancelOption()">Cancel</button>  
      {{user.email}}
  </div> 
</app-pop-up>
    <div id="content">
      <div class="row">
        <sa-big-breadcrumbs [items]="['Users', 'users table']" icon="user"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
      </div>
      <sa-widgets-grid>
        <div class="row">
          <article class="col-sm-12">
            <div sa-widget [editbutton]="false" color="darken">
              <header><span class="widget-icon"> <i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> </span>
                <h2>
                  Users Table
              </h2></header>
              <div>
                <div class="widget-body no-padding">
                  <sa-datatable
                    [options]="{
                    colReorder: true,
                  ajax: 'assets/api/tables/datatables.standard1.json',
                  columns: [ {data: 's/n'}, {data: 'Name'}, {data: 'Email'} ] }" 
                    paginationLength="true" tableClass="table table-striped table-bordered table-hover"
                    width="100%">
                    <thead>
                    <tr>
                      <th data-hide="phone">S/N</th>
                      <th data-class="expand"><i
                        class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>
                        Name
                      </th>
                      <th data-hide="phone"><i
                          class="fa fa-fw fa-calendar txt-color-blue hidden-md hidden-sm hidden-xs"></i>
                        Email
                      </th>
    
                    </tr>
                    </thead>
                  </sa-datatable>
                </div>
              </div>
            </div>
          </article>
        </div>
      </sa-widgets-grid>
  </div>
  </div>