
:host {
  
  
  .pop-up {
    z-index: 1;
    margin-top: 20px;
    display: inline-flex;;
    flex-direction: unset;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    
  

    background: #3A3633;
    width:320px;
    height: 340px;
    border-radius:6px;
    margin-top: 50px;
    margin-left: 500px;
    padding:3px 3px 30px 3px;
    


    
  }
}

  